.App {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 1em;
  margin-left: 1em;
  font-family: 'Expletus Sans', cursive;
}

.list-title {
  color: white;
  text-align: center;
}

.list-title.green {
  background-color: #83af9b;
  color: white;
  text-align: center;
}

.list-title.red {
  background-color: #fe4365;
}

.list-title.orange {
  background-color: #ea804c;
}

.list-title.blue {
  background-color: #567ebb;
}

.button-group {
  margin-top: 0.75em;
  text-align: center;
}

.button {
  width: 25%;
}

.list-card .description {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  text-align: center;
}

.list-card .description .icon {
  margin: auto;
}
